:root {
    --off-white: #ddd;
    --off-black: #333;
    --border: #444;

    --primary: #ccc;
    --secondary: #aaa;
    --tertiary: #777;

    --anim-delay: 250ms;
}

html,
body {
    margin: 0;
    width: 100%;
    background-color: black;
}

/* Page scrolling animation */
.hidden {
    opacity: 0;
    transition: all 1s ease;
}

.scroll-anim {
    animation: scrollAnim 500ms forwards;
}


/* Fonts */
@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Light.ttf");
}

@font-face {
    font-family: Terminal;
    src: url("../fonts/UbuntuMono-Regular.ttf");
}

* {
    font-family: "Inter";
}

/*
    Grid setup 
*/
body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*
    Sections setup
*/
section {
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/* 
    Navbar 
*/
nav {
    display: flex;
    opacity: 0;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color: black;
    transition: all 1s ease-in-out;
    transform: translateY(-25%);
}

nav.active {
    transform: translateY(0);
    opacity: 100%;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

nav ul a {
    padding: 10px;

    -webkit-user-drag: none;
    user-select: none;
    border-radius: 10px;
    border: 1px solid var(--primary);
    color: var(--off-white);
    text-decoration: none;
    transition: all 150ms;
}

nav ul a:hover {
    color: var(--off-black);
    background-color: var(--off-white);
}

/* 
    Header and terminal animation
*/
header {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    min-height: 80vh;
}

header #matrix_bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 50%;
}

header #content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

header #header_span {
    position: absolute;
    width: 550px;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    text-align: left;
}

header h2 {
    color: white;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 1s ease-in-out;
}

header h2.active {
    transform: translateY(0);
    opacity: 100%;
}

header #content span {
    height: 50px;
    text-align: left;
    font-family: "Terminal";
    font-size: 25px;
    color: white;
    white-space: nowrap;
}

header .terminal {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

header .terminal img {
    width: 20px;
}

header #header_switch {
    position: relative;
    flex-grow: 0.5;
    background-size: auto 125%;
    background-image: linear-gradient(to bottom, transparent 20%, #00ff0040 100%);
    background-position: 0px;
    transition: opacity 1s ease, background-position var(--anim-delay) ease;
    opacity: 0;
    box-shadow: 0px 1px 0px var(--off-white);
}

header #header_switch img {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0%);
    opacity: 50%;
    filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(71deg) brightness(97%) contrast(102%);
    transition: all var(--anim-delay) ease-in-out;
    cursor: pointer;
}

header #header_switch.active {
    opacity: 100%;
}

header #header_switch:hover {
    background-position: bottom center;
}

header #header_switch:hover img {
    transform: translate(-50%, 15%);
    opacity: 75%;
}

header #header_switch img:hover {
    transform: translate(-50%, 25%);
    opacity: 100%;
}

/* 
    Projects section
*/
.projects {
    height: 1000px;
}

.projects>h2 {
    color: white;
    width: 200px;
    text-align: center;
}

.projects #projects_select {
    display: flex;
    gap: 0;
    transform: skew(-10deg);
    
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.projects #projects_select button {
    width: 200px;
    padding: 5px;

    color: white;
    background-color: transparent;
    cursor: pointer;
    transition: all var(--anim-delay) ease;
}

.projects #projects_select button:first-child {
    border-left: 1px solid var(--border);
}

.projects #projects_select button:last-child {
    border-right: 1px solid var(--border);
}

.projects #projects_select button span {
    display: block;
    color: white;
    background-color: transparent;
    cursor: pointer;
    padding: 20px;
    transform: skew(10deg);
}

.projects #projects_select button.active {
    background-color: var(--off-white);
}

.projects #projects_select button.active span {
    color: var(--off-black);
}

.projects>ul {
    display: flex;
    height: 100%;
    min-width: 75%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 20px;

    list-style-type: none;
}

.projects>ul>li {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    overflow: hidden;
    padding: 0 10px;
    gap: 10px;
    padding-bottom: 5px;

    border: 1px solid var(--border);
    border-radius: 10px;
}

.projects>ul>li #top {
    position: relative;
    display: flex;

    height: 40px;
    width: 100%;
    border-bottom: 1px solid var(--border);
}

.projects>ul>li #top h2 {
    position: absolute;
    font-size: 20px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--off-white);
}

.projects>ul>li #top div {
    position: absolute;
    display: flex;
    top: 0;
    right: -10px;
    height: 104%;
}

.projects>ul>li #top div a {
    text-decoration: none;
    text-align: center;
    padding: 5px;
    color: var(--off-white);
    border: 1px solid white;
    box-sizing: border-box;
    transition: all 150ms;
}

.projects>ul>li #top div a:first-child {
    border-radius: 0 0 0 10px;
}

.projects>ul>li #top div a:first-child:hover {
    border: 1px solid #3f8de7;
}

.projects>ul>li #top div a:last-child {
    border-radius: 0 10px 0 0;
}

.projects>ul>li #top div a:last-child:hover {
    border: 1px solid #3f8de7;
}

.projects>ul>li #bottom {
    display: flex;
    align-items: top;
    gap: 20px;
    height: 90%;
    width: 100%;

    color: var(--off-white);
}

.projects>ul>li #bottom #left {
    width: 50%;
    color: var(--off-white);
}

.projects>ul>li #bottom #right {
    width: 50%;
    text-align: top left;

    color: var(--off-white);
}

.projects>ul>li #bottom p {
    padding: 0;
    margin: 0;
}

.projects ul>li ol {
    list-style-type: disc;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scrollAnim {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-1500px);
    }

    100% {
        transform: translateX(0);
    }
}